<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dailies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/bundle.js"></script>
</head>
<body>
    <div class="container">
        <div class="main-content">
            <h1>Daily Tasks</h1>
            <div id="app">
              <div hx-get="/component/tasks" hx-swap="innerHTML" hx-trigger="load"></div>
            </div>
        </div>
    </div>
</body>
</html>
