<div id="tag-selection" class="tag-selection">
    {{range .}}
    <label class="tag-checkbox" style="background-color: {{.Color}};">
        <input 
            type="checkbox" 
            name="tag_ids" 
            value="{{.ID}}" 
            _="on change 
                if me.checked 
                    add .selected to closest .tag-checkbox 
                else 
                    remove .selected from closest .tag-checkbox"
        />
        <span class="tag-name">{{.Name}}</span>
    </label>
    {{end}}
</div>