<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content">
		<form hx-post="/component/create/task"
        hx-ext="json-enc"
			  hx-target="#task-list"
			  hx-swap="afterbegin"
			  hx-on::after-request="if(event.detail.successful) this.closest('#modal').dispatchEvent(new CustomEvent('closeModal'))">
			<div class="form-group">
        <h3>Task Details</h3>
				<input type="text"
					   id="task-name"
					   name="name"
					   placeholder="Enter a short description..."
					   required
					   autofocus>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn-create"><i class="fas fa-clone icon"></i>Create Task</button>
				<button type="button" class="btn-cancel" _="on click trigger closeModal">Cancel</button>
			</div>
		</form>
	</div>
</div>
